h2 {
    text-align: center;
  }

  body {
    background-image: url('luffy.jpg'); /* Replace 'background.jpg' with your image file path */
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image fixed as the page scrolls */
    /* You can adjust other properties like background-position if needed */
}

  #app {
    text-align: center;
    margin: 0 auto;
    width: 50%; 
    
  }

  .done {
    text-decoration: line-through;
    color: #ec3023;
    
    
  }

  #todoInput {
    text-align: center;
      width: 30%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #2338ec;
      border-radius: 5px;
      height: 40px; 
      
    }
  
   
    #todoInput::placeholder {
      color: #626d9a;
      flex:1;
      
    }
  
    #center-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
  
    }
  
   
    #taskList {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      border:none;

     

    }
  
    .delete-button {
      background-color: red; 
      color: white; 
      width: 20px; 
      height: 25px; 
      padding: 0; 
      border: none;
      cursor: pointer; 
      margin-left: 8px; 
      
    }

  .delete-button:hover {
      background-color: darkred;
    }

    li {
      display: flex;

      padding: 0;
      justify-content: right;
      position: relative;
      line-height: 180%;
padding-right: 50%;
 
  }
 
  

  